$color-primary: #5B605F;
$color-secondary: #4a4a49;
$color-attention: #FF6600;
$color-background:#FFFFFA;
$color-info:#3498DB;
$color-warning:#FFB03B;
$color-success:#468966;
$color-remove:#BD4932;
$color-dark-text:#A1A194;

