.app-main{
  &__widgets{
    display: flex;
    font-size: 2rem;
    gap: 4rem;

  }
  &__widget{
    text-decoration: none;
    color: $color-success;
    display: flex;
    flex-flow: column;
    padding: 2rem 1rem;
    background-color: $color-background;
    border: 1px dashed $color-success;
    justify-content: space-evenly;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    min-width: 20rem;

  }
  &__widget-icon{
    font-size: 8rem;
    cursor: pointer;
  }
  &__widget-text{
    font-size: 2.4rem;
  }
}
