.recipes {
  color: $color-secondary;
  padding: 4rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: $color-background;
  display: none;
  border: 2px solid $color-secondary;
  box-shadow: 0 0 5px $color-secondary;
  display: none;

  &__large-font {
    font-size: 2.4rem;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  &__row1 {
    border-bottom: 2px solid lightgray;
    padding-bottom: 0.5rem;
  }
  &__title {
    color: $color-attention;
    font-weight: bold;
  }
  &__btn {
    background-color: $color-attention;
    color: $color-background;
    font-weight: bold;
    text-align: center;
    padding: 0.6rem 1rem;
    font-size: 1.6rem;
    border-radius: 5px;
  }
  &__name{
    width: 30%;
    margin: 1rem;
  }
  &__row2 {
    padding-bottom: 0.5rem;
    &-label {
      width: 70%;
      margin: 1rem 10rem 2rem 1rem;
    }
    &-input {
      width: 100%;
    }
  }
  &__row3 {
    &-label{
      width: 70%;
      margin: 1rem 10rem 4rem 1rem;
    }
    &-input{
      width: 100%;

    }
  }
  &__description{
    margin: 1rem;
    width: 30%;
  }
  &__row4 {
    gap: 2rem;
  }
  &__col{
    width: 50%;
  }
  &__col-header{
    border-bottom: 2px solid lightgray;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
  }
  &__col1_input{
    width: 80%;
    resize: none;

  }
  &__col2_input{
    width: 80%;
    resize: none;
  }
  &__row4{
    margin-bottom: 5rem;
  }
  &__row5{
    gap: 2rem;
  }
  &__list{

    margin-left: 1.7rem;
    overflow-y: scroll;
    max-height: 15rem;
  }
  &__list-item{
    line-height: 2rem;
    margin: 1rem 2rem;
    vertical-align: center;
    &_ingr{
      list-style: disc;
    }
    &_inst{
      list-style: decimal;
    }
  }
  &__edit-icon{
    color: $color-warning;
    cursor: pointer;
    transform: translateX(25%);
  }
  &__remove-icon{
    color: $color-remove;
    cursor: pointer;
    transform: translateX(50%);
  }
  &__add {
    color: $color-success;
    font-size: 3rem;
    transform: translate(15%, -30%);
    cursor: pointer;

  }

}
