.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  &__container{
    transition: 1s;
  }
  &__arrow {
    margin: 0 5px;
    cursor: pointer;
    position: absolute;
    color: $color-background;
    transition: 0.2s ease-in-out;
    &:hover{
      transform: scale(1.5);
      transition: 0.2s ease-in-out;
    }

    &_left{
      left: 10rem;
    }
    &_right{
    right: 10rem;
    }
  }

  &__slide {
    display: none;
    flex: 1;
    max-height: 44rem;
    object-fit: cover;
    width: 98.9vw;
    transition: 1s;
  }
  &__active {
    display: block;
  }
}







